.project
.cache
.settings
.buildpath

# Ignore symlinks for eGit eclipse plugin (it can't handle symlinks)
./plugins/ullCorePlugin/web/js/fckeditor/editor/plugins/syntaxhighlight2
./plugins/ullCorePlugin/web/js/fckeditor/editor/filemanager/connectors/php/config.php
./plugins/ullCorePlugin/test/unit/ullCoreFixtures.yml
./plugins/ullCorePlugin/test/functional/ullCmsFixtures.yml
./plugins/ullCorePlugin/test/functional/ullCoreFixtures.yml
./plugins/ullFlowPlugin/test/unit/ullTimeFixtures.yml
./plugins/ullFlowPlugin/test/unit/ullCoreFixtures.yml
./plugins/ullFlowPlugin/test/unit/ullFlowFixtures.yml
./plugins/ullFlowPlugin/test/functional/ullTimeFixtures.yml
./plugins/ullFlowPlugin/test/functional/ullCmsFixtures.yml
./plugins/ullFlowPlugin/test/functional/ullWikiFixtures.yml
./plugins/ullFlowPlugin/test/functional/ullCoreFixtures.yml
./plugins/ullFlowPlugin/test/functional/ullFlowFixtures.yml
./plugins/ullCmsPlugin/test/unit/ullCmsFixtures.yml
./plugins/ullCmsPlugin/test/unit/ullCoreFixtures.yml
./plugins/ullCmsPlugin/test/functional/ullCmsFixtures.yml
./plugins/ullCmsPlugin/test/functional/ullCoreFixtures.yml
./plugins/ullVentoryPlugin/test/unit/ullVentoryFixtures.yml
./plugins/ullVentoryPlugin/test/unit/ullCoreFixtures.yml
./plugins/ullVentoryPlugin/test/functional/ullVentoryFixtures.yml
./plugins/ullVentoryPlugin/test/functional/ullCmsFixtures.yml
./plugins/ullVentoryPlugin/test/functional/ullCoreFixtures.yml
./plugins/ullTimePlugin/test/unit/ullTimeFixtures.yml
./plugins/ullTimePlugin/test/unit/ullCoreFixtures.yml
./plugins/ullTimePlugin/test/unit/ullFlowFixtures.yml
./plugins/ullTimePlugin/test/functional/ullTimeFixtures.yml
./plugins/ullTimePlugin/test/functional/ullCmsFixtures.yml
./plugins/ullTimePlugin/test/functional/ullCoreFixtures.yml
./plugins/ullBookingPlugin/test/unit/ullCoreFixtures.yml
./plugins/ullBookingPlugin/test/unit/ullBookingFixtures.yml
./plugins/ullMailPlugin/test/unit/ullMailFixtures.yml
./plugins/ullMailPlugin/test/unit/ullMailErrorFixtures.yml
./plugins/ullMailPlugin/test/unit/ullCoreFixtures.yml
./plugins/ullMailPlugin/test/functional/ullMailFixtures.yml
./plugins/ullMailPlugin/test/functional/ullCmsFixtures.yml
./plugins/ullMailPlugin/test/functional/ullMailErrorFixtures.yml
./plugins/ullMailPlugin/test/functional/ullCoreFixtures.yml
./plugins/ullPhonePlugin/test/functional/ullPhoneFixtures.yml
./plugins/ullPhonePlugin/test/functional/ullCmsFixtures.yml
./plugins/ullPhonePlugin/test/functional/ullCoreFixtures.yml
./plugins/ullCoreThemeNGPlugin/templates/layout.php
./plugins/ullCoreThemeNGPlugin/templates/layout.mobile.php
./plugins/ullWikiPlugin/test/unit/ullWikiFixtures.yml
./plugins/ullWikiPlugin/test/unit/ullCoreFixtures.yml
./plugins/ullWikiPlugin/test/functional/ullCmsFixtures.yml
./plugins/ullWikiPlugin/test/functional/ullWikiFixtures.yml
./plugins/ullWikiPlugin/test/functional/ullCoreFixtures.yml
./plugins/ullCoursePlugin/test/unit/ullCmsFixtures.yml
./plugins/ullCoursePlugin/test/unit/ullCourseFixtures.yml
./plugins/ullCoursePlugin/test/unit/ullCoreFixtures.yml
./web/ullTimeThemeNGPlugin
./web/ullCorePlugin
./web/ullFlowPlugin
./web/ullCmsPlugin
./web/sf
./web/ullVentoryPlugin
./web/ullCmsThemeNGPlugin
./web/ullTimePlugin
./web/ullMailPlugin
./web/ullWikiThemeNGPlugin
./web/ullFlowThemeNGPlugin
./web/ullVentoryThemeNGPlugin
./web/ullPhoneThemeNGPlugin
./web/ullMailThemeNGPlugin
./web/ullPhonePlugin
./web/ullCourseThemeNGPlugin
./web/ullCoreThemeNGPlugin
./web/ullWikiPlugin
./web/ullCoursePlugin
./web/ullBookingThemeNGPlugin
./web/sfFormExtraPlugin
./lib/vendor/symfony/lib/plugins/sfDoctrinePlugin/test/functional/fixtures/config/doctrine/linked_schema.yml
./lib/migration/doctrine
./lib/migration/pre_build_model
./lib/migration/data
./apps/frontend/i18n/messages.de.xml
./apps/frontend/config/error
