#MAILTO=me@example.com

# ullright example crontab file for the production server
# 2010-08-16 by Klemens Ullmann-Marx
#
#


# m h dom mon dow user  command
5 4 * * *  php /path/to/your/ullright/symfony ullright:user-deactivation > /dev/null
10 4 * * *  php /path/to/your/ullright/symfony ull_flow:due_date-mailing > /dev/null




