prod:
  mailing:
    # send a copy of each mail to the developers' email address
    send_debug_cc: true

test:
  mailing:
    # completely disable mail sending
    enable:        false

dev:
  mailing:
    # reroute emails to the developers' email address 
    reroute:       true

# default values
all:
  theme_package:    NG
  
  supported_languages: en,de
  
  error_404_text: 'If you need further assistance, please do not hesitate to contact helpdesk@example.com.'
  error_500_text: 'If the problem persists, please do not hesitate to contact it.department@example.com.'
  
  mailing:
    enable:         true
    charset:        utf-8
    mailer:         sendmail
    smtp_hostname:  localhost  
    #smtp_username:  
    #smtp_passwort:  
    reroute:        false
    debug_address:  klemens.ullmann@ull.at
    # send a copy of each mail to the debugger's email address
    send_debug_cc: false
    
  auth:
    function:       default
    fileshare_share:      '//my_samba_server/my_auth_share\$'
    fileshare_domain:     my_domain
    fileshare_checkfile:  checkfile-do_not_delete.txt   
    imap_mailbox:   '{127.0.0.1:143/notls}INBOX'
    
    
  pager:
    max_per_page:   30
    
  sfDoctrineActAsTaggablePlugin:
    limit:          16
    
  ull_user:
    display_name_length_limit:              22
    display_name_first_name_length_limit:   10
    
  ull_photo:
    upload_path:    /uploads/userPhotos
    # displayed height of the uploaded image before cropping 
    display_height: 400
    width:          200
    height:         200