# default values
all:
  theme:         ullThemeDefault
  
  base:
    default_language: en
  
  mailing:
    charset:        utf-8
    mailer:         sendmailsmtp
    smtp_hostname:  localhost  
    #smtp_username:  
    #smtp_passwort:  
    debug_address:  me@example.com
    send_copy_flag: true     # in prod environment: send a copy of every mail to the debug_address
    
  auth:
    function: default      

  tags:
    limit:   16