prod:
  mailing:
    # send a copy of each mail to the developers' email address
    send_debug_cc: true
    # blacklist of ullsfMail "slugs" (no bcc debug copy sent for these)
    debug_cc_exclude_list: [ 'ull_newsletter' ]

test:
  mailing:
    # completely disable mail sending during testing
    # this must always be set to false
    enable:        false

dev:
  mailing:
    # reroute emails to the developers' email address 
    reroute:       true

# default values
all:
  theme_package:    NG
  sidebar_logo:     /ullCoreThemeNGPlugin/images/logo_120
  sidebar_toggle:   true

  # Enable to specify a custom favicon. Per default the theme's favicon is used.
  #override_favicon: /images/favicon.ico

  #Enable to use a custom layout located in apps/frontend/templates/my_layout.php
  #override_layout: my_layout
  
  error_404_text: 'If you need further assistance, please do not hesitate to contact helpdesk@example.com.'
  error_500_text: 'If the problem persists, please do not hesitate to contact it.department@example.com.'

  #The following server name is used in situations where
  #a server name cannot be determined automatically, e.g.
  #when mailing from the command line
  server_name: www.example.com
  
  #Enable specialied mobile version rendering for smartphones etc
  enable_mobile_version: true

  i18n:  
    supported_languages: [ 'de', 'en' ]
  
  mailing:
    enable:         true
    charset:        utf-8
    mailer:         sendmail
    #smtp_hostname:  localhost
    #smtp_port:      25
    #smtp_username:  
    #smtp_passwort:  
    reroute:        false
    debug_address:  dev@example.com
    # blacklist of ullsfMail "slugs" (no bcc debug copy sent for these)    
    debug_cc_exclude_list: []
    # send a copy of each mail to the debugger's email address
    send_debug_cc: false
    
  auth:
    function:             default
    fileshare_share:      '//my_samba_server/my_auth_share\$'
    fileshare_domain:     my_domain
    fileshare_checkfile:  checkfile-do_not_delete.txt   
    imap_mailbox:         '{127.0.0.1:143/notls}INBOX'
    ldap_account_suffix:  '@my_company.local'
    ldap_base_dn:         'DC=my_company,DC=local'
    ldap_domain_controllers: [ 'dc.my_company.local' ]    
    
  pager:
    max_per_page:   30
    sliding_range:  5
    
  sfDoctrineActAsTaggablePlugin:
    limit:          16
    
  ull_user:
    display_name_length_limit:              22
    display_name_first_name_length_limit:   10
    # Which UllUser field to use in select boxes 
    select_field:                           last_name_first
    clone_user_columns:                     [ 'ull_company_id', 'ull_location_id', 'ull_department_id', 'ull_job_title_id', 'superior_ull_user_id', 'phone_extension', 'fax_extension', 'ull_user_status_id', 'comment' ]
    phone_book_show_columns:                [ 'last_name_first', 'phone_extension', 'mobile_number', 'email', 'UllLocation->name',  'UllDepartment->name', 'UllJobTitle->name' ]
    phone_book_search_columns:              [ 'first_name', 'last_name', 'UllLocation->name', 'UllLocation->short_name', 'UllLocation->phone_base_no', 'UllDepartment->name', 'UllJobTitle->name' ]
    phone_book_search_show_headers:         true

    enable_user_popup:                      true
    user_popup_public_columns:              [ 'last_name', 'first_name', 'email', 'photo', 'type', 'ull_company_id', 'ull_department_id', 'ull_job_title_id', 'superior_ull_user_id', 'phone_extension', 'fax_extension', 'mobile_number', 'ull_user_status_id' ]
    user_popup_vertical_size:               720 #pixel
    
    enable_sign_up:                         true
    sign_up_sender_name:                    No reply
    sign_up_sender_address:                 noreply@example.com
    
    enable_my_account:                      true
    
    enable_reset_password:                  true
    reset_password_sender_name:             No reply
    reset_password_sender_address:          noreply@example.com
    
    # Supply a custom "nobody" image to show for a user without photo
    #nobody_image:                           /images/nobody.png
    
  ull_photo:
    upload_path:    /uploads/userPhotos
    # displayed height of the uploaded image before cropping 
    display_height:     400
    width:              200
    height:             200
    crop_aspect_ratio:  1:1 #or 3:4, ...
    
  ull_orgchart:
    ceo_user_id:        1
    
  ull_time:
    # How long can the user change his entered data in days?
    # Example: 30 days means he can change data up to 30 days back from now
    locking_timespan_days: 30
    
  ull_news:
    rss_title:              'Example RSS-Feed'
    rss_author:             'Author'
    rss_logo:               'http://www.ullright.org/ullCoreThemeNGPlugin/images/logo_120.png'
    rss_number_of_entries:  10
    
  ull_cms:
    preview_image_width:    140
    image_width:            640
 
  ull_flow: 
    # ullFlowDocs can have a due date. If this parameter
    # is set to a positive integer, reminder emails
    # are sent out <x> days before the due date expires.
    # If this parameter is set to 0, the reminder mailing
    # functionality is disabled (Note: this has no influence
    # on overdue notification mails, those are independent).
    # If this parameter is not set or < 0, 2 is assumed.
    due_date_reminder_period: 3

    # Always display the "assign to user" action for master admins
    enable_master_admin_assign_to_user: true
 
  ull_newsletter:
    from_address:       newsletter@example.com
    from_name:          Example Newsletter
    
  ull_mail:
    bounce_mail_address:            bounce@example.com
    bounce_mailbox_base:            '{imap.example.com}'
    bounce_inbox_folder:            'INBOX'
    bounce_handled_folder:          'INBOX.processed'
    bounce_unprocessable_folder:    'INBOX.unprocessable'
    bounce_username:                'user'
    bounce_password:                'password'
    bounce_deactivation_threshold:   3
 
  publish:
    # Set the following options if you want to use the ullright:publish task
    #server_name:    my-server.example.com
    #user_name:      my_username
    #target_dir:     /var/www/ullright_my_company 

  admin:
    module_links_order: [ 'ullNewsletter', 'ullMail', 'ullVentory', 'ullWiki', 'ullCms', 'ullNews', 'ullFlow', 'ullTime' ]
