<?php

class ullFlowRuleProcurementRequestBusinessCard extends ullFlowRule 
{
   
  public function getNext() 
  {
    $next = array();
    
    if ($this->isStep('procurement_request_business_card_creator')) 
    {
      if ($this->isAction('send'))
      {
        $next['step']    = $this->findStep('procurement_request_business_card_clerk');
        $next['entity']  = $this->findGroup('Procurement Clerks');
      } 
    }
     
    elseif ($this->isStep('procurement_request_business_card_clerk')) 
    {
      if ($this->isAction('assign_to_user'))
      {
        $next['step'] = $this->findStep('procurement_request_business_card_clerk');
      } 
      elseif ($this->isAction('close')) 
      {
        $next['step'] = $this->findStep('procurement_request_business_card_closed');
      }
    }
      
    elseif ($this->isStep('procurement_request_business_card_closed')) 
    {
      $next['step']    = $this->findStep('procurement_request_business_card_clerk');
      $next['entity']  = $this->findGroup('Procurement Clerks');
    }
    
    return $next;
  }
  
}